backports.functools-lru-cache==1.6.6
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.10.8
chardet==4.0.0
click==7.1.2
colorama==0.4.6
contextlib2==0.6.0.post1
crkpk==1
Cython==3.0.2
DateTime==4.9
Flask==1.1.4
futures==3.4.0
ghostscript==0.7
html5lib==1.1
idna==2.10
importlib-resources==3.3.1
InstagramIG==0.0.2
itsdangerous==1.1.0
Jinja2==2.11.3
logging==0.4.9.6
lolcat==1.4
MarkupSafe==1.1.1
mechanize==0.4.8
names==0.3.0
npyscreen==4.10.5
openai==0.6.4
pathlib2==2.3.7.post1
pycryptodome==3.18.0
pyotp==2.6.0
pyTelegramBotAPI==4.13.0
python-cfonts==1.4.0
pytz==2023.3
requests==2.27.1
scandir==1.10.0
singledispatch==3.7.0
six==1.16.0
soupsieve==1.9.6
spark-parser==1.8.9
termcolor==1.1.0
tqdm==4.64.1
typing==3.10.0.0
uncompyle6==3.9.0
urllib3==1.26.16
uuid==1.30
webencodings==0.5.1
Werkzeug==1.0.1
xdis==6.0.5
yara==1.7.7
zipp==1.2.0
zope.interface==5.5.2
